/* add in the day back ground still */
body {
    background-repeat: no-repeat;
    background-size: auto 100vh;
    background-image: url("../images/raceroad.jpg");
}


.night-background {
    background-image: url("../images/raceroad-night.jpg");
}

/* Setout of grid */
.grid-container {
    display: grid;
    height: 100vh;
    box-sizing: border-box;
    grid-template-rows: 10em 5vh auto 15em;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas: ". title title ."
        "traffic-light game-icons game-icons score-boards"
        "traffic-light game-icons game-icons score-boards"
        "road road road road";
}


/* Ai selection color */
.outer-circle-fill {
    fill: rgb(255, 0, 0);
}



/* Title */
h1 {
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: 50px;
}

/* change to hidden in html */
/* modal container element */
.modal-container {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 5;
    overflow: hidden;
}

#winner {
    display: none;
}

/* inner container of instruction modal */
.modal-inner-container {
    background: white;
    padding: 3em;
    height: 400px;
    width: 600px;
    margin: 0 auto;
    opacity: 1;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    background-color: rgba(82, 78, 78, 0.9);
    color: white;
    margin-top: 30px;
    font-size: 20px;
    position: relative;
    z-index: 10;
}

#settings-container {
    display: flex;
    justify-content: space-around;
}

.settings-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 300px;
    margin-left: 110px;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: #c9804a;
    border-color: #966036;
    font-size: 20px;
    color: #442208
}

.settings-modal-column {
    text-align: center;
}

.checkbox {
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

.slider-container {
    display: flex;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 30px;
    background: #442208;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
    transition: ease-in 500ms;
}

.toggle:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    background: #c9804a;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    transition: 500ms;
}

.checkbox:checked~.toggle:before {
    transform: translateX(40px);
}

.toggle:after {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    background: #c9804a;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    transition: 500ms;
    transform: translateX(-40px);
}

.checkbox:checked~.toggle:after {
    transform: translateX(0px);
}



/* Hover effect on game tiles */
.svg:hover>path {
    fill: rgb(199, 196, 0);

}

/* disable the game tiles  */
.disable-svg-effects {
    pointer-events: none;

}

/* close the instruction modal */
#close-button {
    width: 80px;
    background-color: #3b2e27;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-left: 275px;
    margin-top: 30px;
}

/* Play button to start game */
#button-play {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 300px;
    margin-left: 110px;
    margin-top: 50px;
    background-color: #c9804a;
    border-color: #966036;
    font-size: 20px;
    color: #442208
}

/* instruction button */
#button-instruction {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 300px;
    margin-left: 110px;
    margin-top: 30px;
    background-color: #c9804a;
    border-color: #966036;
    font-size: 20px;
    color: #442208
}

.main-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 80px;
    margin-bottom: 48px;
    margin-left: 10px;
    margin-top: 30px;
    background-color: #c9804a;
    border-color: #966036;
    font-size: 20px;
    color: #442208
}


/* main heading of name */
.main-heading {
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: 50px;
    grid-area: title;

}

.night-day-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: #c9804a;
    border-color: #966036;
    font-size: 20px;
    color: #442208
}

#main-container {
    color: white;
    width: 500px;
    margin: 0 auto;
    background-color: #713500;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: 25px;
    grid-area: game-icons;
}

.traffic-light-at-night {
    border: solid 5px rgb(34, 34, 34);
}

/* hidden */
.hidden {
    display: none;
}

/* Displaying Flex */
.flex {
    display: flex;
}

/* inline block */
.inline-block {
    display: inline-block;
}

/* Traffic light background div */
.traffic-light {
    background-color: rgb(20, 20, 20);
}

/* Red light bulb */
.red-light-on {
    background-color: red;
}

/* Yellow light on */
.yellow-light-on {
    background-color: yellow;
}

/* Green light on */
.green-light-on {
    background-color: green;
}

/* Traffic light color */
#traffic-light {
    background-color: black;
    margin-left: 50px;
    grid-area: traffic-light;
    width: 77px;
    height: 250px;
}


/* Win Message colors */
.win-message {
    color: rgb(0, 0, 0);
}

.draw-message {
    color: rgb(0, 0, 0);
}

.lose-message {
    color: rgb(0, 0, 0)
}


/* definition around the traffic lights */
#red,
#yellow,
#green {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
}


.light-surround {
    border-radius: 50%;
    border-top: 2px solid rgb(51, 50, 50);
}


/* User seclection color class */
.inner-image-fill {
    fill: rgb(0, 255, 0);
}

#scissor-circle {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#scissor-image {
    height: 150px;
    width: 150px;
    position: relative;
    z-index: 10;
}

#scissor-image>*,
#paper-image>*,
#rock-image>* {
    position: relative;
    z-index: 9;
}

#paper-image {
    height: 150px;
    width: 150px;
    position: relative;
    z-index: 10;
}

.tile-container {
    position: relative;
}


/* Poles for the game tiles */
.pole {
    height: 180px;
    width: 20px;
    background: linear-gradient(90deg, rgba(40, 40, 40, 1) 0%, rgba(60, 60, 60, 1) 3%, rgba(84, 84, 84, 1) 25%, rgba(111, 110, 110, 1) 49%, rgba(126, 126, 126, 1) 73%, rgba(153, 152, 152, 1) 92%, rgba(200, 198, 198, 1) 100%);
    ;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 170px);
}

/* Rock images */
#rock-image {
    height: 150px;
    width: 150px;
    position: relative;
    z-index: 10;

}

.rock-paper-scissor-logo {
    align-items: center;
    justify-content: center;
    gap: 10px;
    grid-area: game-icons;
}

/* Score board colors */
.score-board {
    height: 250px;
    background-color: #a15d21;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    font-family: 'Mukta', sans-serif;
    font-size: 25px;
    border-color: #966036;
    grid-area: score-boards;
}

/* user score basic styling */
#user-score,
#ai-score {
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Mukta', sans-serif;
    display: flex;
    justify-content: center;
}